<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap Template</title>
    <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-controller="AjaxCtrl">

    <form id="uploadForm">
        <input name="file" type="file" onchange="angular.element(this).scope().setMediaFile(this)">
        <input name="title" type="text" value="test">
        <input name="description" type="text" value="test">
        <button ng-click="sendImage();">Upload</button>
    </form>

    <form id="searchByUserId">
        <input name="userid" type="text" value="6" ng-model="keyword">
        <button ng-click="searchFunction();">Search</button>
    </form>

    <img ng-repeat="file in files" src="http://util.mw.metropolia.fi/uploads/{{file.path}}">
    <div id="searchResult"></div>

    <form id="login">
        <input name="username" type="text" value="kana" ng-model="username">
        <input name="password" type="password" value="kana" ng-model="password">
        <button ng-click="logInFunction();">Log in</button>
    </form>

    <form id="like">
        <input name="fileid" type="text" ng-model="fileID">
        <input name="userid" type="text" ng-model="userID">
        <button ng-click="likeFunction();">Like</button>
    </form>
    
    <form id="unlike">
        <input name="fileid" type="text" ng-model="fileID">
        <input name="userid" type="text" ng-model="userID">
        <button ng-click="unlikeFunction();">Unlike</button>
    </form>
    
    <button ng-click="getAllCommentsFunction();">Get all comments</button>
    
    <button ng-click="getAllCommentsAFileFunction();">Get all comments of a file</button>
    
    <p ng-repeat="comment in comments">{{comment}}</p>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Include angular files & plugins -->
    <script src="../bower_components/angular/angular.js"></script>

    <!-- Include My App's JS file(s)-->
    <script src="app.js"></script>
    <script src="ajaxService.js"></script>
    <script src="ajaxController.js"></script>
    <script scr="main.js"></script>

</body>

</html>